<!--
@author Shayna Jamieson
@version 1.0
URL: http://sjamieson.greenriverdev.com/328/dating/views/home.html
Created: January 16, 2020
Last Modified: January 25, 2020
Description: This file serves as our home/splash page for our dating website. Here the user
is welcomed with a nice image, and a brief description of the services the site offers.
-->
<include href="views/header-with-nav.html">
<div class="container text-center">
    <h1 id="homepage-title" class="pt-5 pb-5">🔥  Find Your Next Flame  🔥</h1>
    <div class="row d-flex flex-wrap align-items-center">
        <div class="col-lg-6">
            <p>Welcome to the web's most successful dating website. At Flame you'll meet other incredibly sarcastic, quick-witted, and nerdy people.
                We have the highest success rate of couples on the web. User's are matched by their internet search history and favorite food. Find out
                why so many others have found their current Flame on our site!</p>
            <p id="testimonial-title" class="pt-2">Hear what our users are saying about us.</p>
            <div id="testimonial-container">
                <div id="testimonial-white-bg">
                    <p class="pt-3 pl-3 pr-3"><i>"I met the coolest chick." -Hardy</i></p>
                    <p class="pl-3 pr-3"><i>"I've gone out on like a million dates, and gotten so much free dinner!" -Bridget</i></p>
                    <p class="pb-3 pl-3 pr-3"><i>"If you're someone who has a dry sense of humor and is always slightly angry, this is the site for you." -Shayna</i></p>
                </div>
            </div> <!-- end of container that holds our testimonials -->
            <button type="submit" onclick="window.location.href='personal-information'" class="btn btn-lg btn-dark mt-4 mb-5">Create a Profile!</button>
        </div> <!-- end of column that holds our home page description -->
        <div class="col-lg-6">
            <img id="splash-image" class="rounded mb-5" src="images/splash.png" alt="Image of Two People In Love">
<!--                <img id="splash-image" class="rounded mb-5" src="../images/splash.png" alt="Image of Two People In Love"> FOR RUNNING LOCAL HOST -->
        </div> <!-- end of column that holds our image -->
    </div> <!-- row that holds our home page description and image -->
</div> <!-- end of body content container and bootstrap padding -->
    <include href="views/footer.html"></include>