<!doctype html>
<!--
@author Shayna Jamieson
@version 1.0
URL: http://sjamieson.greenriverdev.com/328/dating/views/home.html
Created: January 16, 2020
Last Modified: January 17, 2020
Description: This file serves as our home/splash page for our dating website. Here the user
is welcomed with a nice image, and a brief description of the services the site offers.
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="styles/styles.css">
<!--    <link rel="stylesheet" type="text/css" href="../styles/styles.css"> FOR RUNNING LOCAL HOST -->
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="images/site.webmanifest"> <!-- app icon -->
    <title>Flame</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Flame</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> <!-- button to toggle nav bar options on less than md screen-->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li> <!-- home page link -->
                <li class="nav-item">
                    <a class="nav-link" href="#">My Matches</a>
                </li> <!-- example page link -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Testimonials</a>
                </li> <!-- example page link -->
            </ul>
        </div>
    </nav> <!-- end of nav bar content -->
    <div class="container text-center">
        <h1 id="homepage-title" class="pt-5 pb-5">🔥  Find Your Next Flame  🔥</h1>
        <div class="row d-flex flex-wrap align-items-center">
            <div class="col-lg-6">
                <p>Welcome to the web's most successful dating website. At Flame you'll meet other incredibly sarcastic, quick-witted, and nerdy people.
                    We have the highest success rate of couples on the web. User's are matched by their internet search history and favorite food. Find out
                    why so many others have found their current Flame on our site!</p>
                <p id="testimonial-title" class="pt-2">Hear what our users are saying about us.</p>
                <div id="testimonial-container">
                    <div id="testimonial-white-bg">
                        <p class="pt-3 pl-3 pr-3"><i>"I met the coolest chick." -Hardy</i></p>
                        <p class="pl-3 pr-3"><i>"I've gone out on like a million dates, and gotten so much free dinner!" -Bridget</i></p>
                        <p class="pb-3 pl-3 pr-3"><i>"If you're someone who has a dry sense of humor and is always slightly angry, this is the site for you." -Shayna</i></p>
                    </div>
                </div>
                <button type="button" class="btn btn-lg btn-dark mt-4 mb-5">Create a Profile!</button>
            </div> <!-- end of column that holds our home page description -->
            <div class="col-lg-6">
                <img id="splash-image" class="rounded mb-5" src="images/splash.png" alt="Image of Two People In Love">
<!--                <img id="splash-image" class="rounded mb-5" src="../images/splash.png" alt="Image of Two People In Love"> FOR RUNNING LOCAL HOST -->
            </div> <!-- end of column that holds our image -->
        </div> <!-- row that holds our home page description and image -->
    </div> <!-- end of body content container and bootstrap padding -->
<script src="//code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>