<!--
@author Shayna Jamieson
@version 1.0
URL: http://sjamieson.greenriverdev.com/328/dating/views/interests.html
Created: January 25, 2020
Last Modified: January 25, 2020
Description: This file serves as third screen of the user's profile registration process. It
accepts user information for their indoor and outdoor interests.
-->
<include href="views/header-with-nav.html">
    <div class="container card mt-3">
        <div class="card-body">
            <form method="post" action="summary">
                <div class="text-center">
                    <button type="submit" class="btn btn-dark">Contact Me!</button>
                </div>
            </form> <!-- end of form that holds our submit button (routed to first sign-up screen) -->
        </div>
    </div>
    <include href="views/footer.html">