<!--
@author Shayna Jamieson
@version 1.0
URL: http://sjamieson.greenriverdev.com/328/dating/views/profile.html
Created: January 25, 2020
Last Modified: January 25, 2020
Description: This file serves as second screen of the user's profile registration process. It
accepts user information such as email, state, seeking, and bio. It posts to the next form (interests).
-->
<include href="views/header-with-nav.html">
    <div class="container card mt-3">
        <div class="card-body">
            <h1 class="toast-header text-dark">Personal Information</h1>
            <form method="post" action="interests">
                <button type="submit" class="btn-sm btn-dark float-right">Next ></button>
            </form> <!-- end of form that holds our submit button (routed to first sign-up screen) -->
        </div>
    </div>
    <include href="views/footer.html">