<!--
@author Shayna Jamieson
@version 1.0
URL: http://sjamieson.greenriverdev.com/328/dating/views/profile.html
Created: January 25, 2020
Last Modified: January 26, 2020
Description: This file serves as second screen of the user's profile registration process. It
accepts user information such as email, state, seeking, and bio. It posts to the next form (interests).
-->
<include href="views/header-with-nav.html">
    <div class="container card mt-3">
        <div class="card-body">
            <h1 class="toast-header text-dark">Profile</h1>
            <form method="post" action="interests">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email" class="font-weight-bold">Email</label>
                            <input type="email" class="form-control" id="email" name="email" aria-describedby="email" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="state" class="font-weight-bold">State</label>
                            <select id="state" name="state" class="form-control">
                                <option value="WASHINGTON" selected>WASHINGTON</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="seeking-male" class="font-weight-bold">Seeking</label><br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="seeking" id="seeking-male" value="Male">
                                <label class="form-check-label pl-1" for="seeking-male">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="seeking" id="seeking-female" value="Female">
                                <label class="form-check-label pl-1" for="seeking-female">Female</label>
                            </div>
                        </div>
                    </div> <!-- end of column that has email, state, and seeking -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="bio" class="font-weight-bold">Biography</label>
                            <textarea class="form-control" id="bio" name="bio" aria-describedby="bio" rows="5" placeholder=""></textarea>
                        </div>
                    </div> <!-- end of row that holds the user's bio -->
                </div> <!-- end of row that holds form input areas -->
                <button type="submit" class="btn-sm btn-dark float-right">Next ></button>
            </form> <!-- end of form that holds our submit button (routed to first sign-up screen) -->
        </div>
    </div>
    <include href="views/footer.html">