<!--
@author Shayna Jamieson
@version 1.0
URL: http://sjamieson.greenriverdev.com/328/dating/views/summary.html
Created: January 26, 2020
Last Modified: January 26, 2020
Description: This file serves as the last screen of the user sign-up screens. It is a summary
page that will display all of the user information that is collected in sessions.
-->
<include href="views/header-with-nav.html">
    <div class="container card mt-3">
        <div class="card-body">
            <div class="text-center">
                <button type="submit" class="btn-sm btn-dark">Contact Me!</button>
            </div>
        </div>
    </div>
    <include href="views/footer.html">