/*
@author Shayna Jamieson
@version 1.0
URL: http://sjamieson.greenriverdev.com/328/dating/styles/styles.css
Created: January 16, 2020
Last Modified: February 09, 2020
Description: This file serves as our style sheet for the existing pages on the dating website.
*/

/* import Google Free Fonts*/
@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto&display=swap');

/* style to align the bio title and display section */
#bio-section {
    margin-top: -10px;
    margin-left: 1px;
}

/* style to make the biography summary title larger than its description text */
#bio-title {
    font-size: large;
}

/* styling for home page title */
#homepage-title {
    overflow: hidden;
    white-space: nowrap;
    font-size: 4vw;
    font-family: 'Poppins', cursive !important;
}

/* style header to line up with form inputs on form pages */
.toast-header {
    margin-left: -15px;
}

/* style to get privacy section aligned with first name field */
#privacy {
    margin-top: 24px;
}

/* style for the required symbol on form fields */
.required {
    color: red;
}

/* styling for home page image */
#splash-image, #user-icon {
    width: 90%;
    height: auto;
}

/* styling for the container that holds home page testimonials */
#testimonial-container {
    padding-top: 1px;
    padding-bottom: 1px;
    border-left: 1px solid white;
    margin: 0 10px;
    background: linear-gradient(to right, red, orange);
}

/* style for the testimonial title on home page */
#testimonial-title {
    font-weight: bolder;
    font-size: larger;
}

/* styles to help clear gradient background */
#testimonial-white-bg {
    background-color: white;
    padding: 3px;
    margin-left: -1px;
    margin-right: -1px;
}

/* styling for user icon image */
#user-icon {
    width: 50%;
    height: auto;
}

